html, body {
	height: 100%;
	line-height: 1.5;
}

body {
	margin: 0;
}

p {
	color: #494c4e;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
}

textarea {
    resize: none;
}

button {
	cursor: pointer;
}

[v-cloak] { 
	display:none;
}

.main {
	// minus height header and hight footer this is
	min-height: calc(100vh - 175px);
}