html, body {
	height: 100%;
	line-height: 1.5;
}

body {
	font-size: 14px;
	margin: 0;
}

p {
	color: #494c4e;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
}

button {
	cursor: pointer;
}

.flexbox--sb {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.pt-1 {
	padding-top: 16px;
}

.pt-10 {
	padding-top: 192px;
}

.pb-2 {
	padding-bottom: 32px;
}

[v-cloak] { 
	display:none;
}

.main {
	// minus height header and hight footer this is
	min-height: calc(100vh - 175px);
}