html, body {
	height: 100%;
}

body {
	background-color: #F5F5F5;
	margin: 0;
}

a {
	color: #18B4DB;
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
}

textarea {
    resize: none;
}

button {
	cursor: pointer;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

[v-cloak] { 
	display:none;
}

.main {
	// minus height header and hight footer this is
	min-height: calc(100vh - 175px);
}

.u--clearFix {
	clear: both;
}

.u--block {
	display: block;
}

.u--borderless {
	border: 0;
}

.u--flex {
	display: flex;
}

.u--floatLeft {
	float: left;
}

.u--floatRight {
	float: right;
}

.u--fullWidth {
	box-sizing: border-box; /* Because the width 100% and padding otherwise overflows parent div */
	width: 100%;
}

.u--inlineBlock {
	display: inline-block;
}

.u--textCenter {
	text-align: center;
}

.u--textSmall {
	font-size: 14px;
	font-weight: 500;
}