body {
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	line-height: 1.6;
}

input,
textarea,
button {
	font-family: "Roboto", sans-serif;
}

h1,
p {
	color: #484848;
}

.text--small {
	font-size: 14px;
	font-weight: 500;
}

.inline-block {
	display: inline-block;
}