body {
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	line-height: 1.6;
}

input,
textarea,
button {
	font-family: "Roboto", sans-serif;
}

h1,
h2,
p,
span {
	// color: #484848;
	color: #000;
}

h2 {
	font-size: 18px;
	font-weight: 400;
}

h3 {
	font-size: 16px;
	font-weight: 500;
}

.text--small {
	font-size: 14px;
	font-weight: 500;
}

.inline-block {
	display: inline-block;
}