.logged-out {
	background-color: #FFF;

	.header {
		margin-top: 48px;
		text-align: center;
	}

	.auth {
		margin: 0 auto;
		max-width: 420px;
	}

	.auth p > a,
	.back a {
		border-bottom: 1px solid #3097D1;
	}

	.auth p > a:hover,
	.back a:hover {
		text-decoration: none;
		border-bottom: 0;
	}

	.footer {
		margin-top: 80px;
		text-align: center;

		ul li a {
			color: #636b6f;
			font-size: 12px;
		}
	}

	.logo {
		width: 100%;
		max-width: 420px;
	}

	.button--facebook {
		display: block;
		margin: 0 auto;
		margin-top: 32px;
	}

	.back {
		display: block;
		margin-top: 16px;
		text-align: center;
	}
}
