.main-header {
	background-color: #3F6780;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	min-height: 48px;

	a:hover {
		
		text-decoration: none;
	}

	.container {
		position: relative;
	}

	.branding,
	.search-container {
		float: left;
	}

	.primary-nav {
		float: right;
		position: relative;

		@media screen and (max-width: 768px) {
			position: absolute;
			top: 0;
			right: 15px;
		}
		.pp {
			border-radius: 50%;
		}
	}


	.search-container {
		margin-top: 6px;
		width: 100%;

		@media screen and (min-width: 768px) {
			width: 320px;
		}
	}

	.branding {
		font-size: 18px;
		margin-top: 11px;
		margin-right: 32px;
	}

	.primary-nav {
		li {
			margin-top: 13px;
		}

		.avatar {
			margin-top: 0px;

		}
		
		li > a {
			color: #FFF;
		}

		.list-inline > li {
			display: inline-block;
			margin-left: 32px;
			padding-right: 0;
			padding-left: 0;
		}
	}

	.popover--userActions {
		position: absolute;
		width: 100%;
		z-index: 1;
		@media screen and (min-width: 640px) {
			max-width: 192px;
		}
	}

}




.navbar-default .navbar-nav > li > a {
	color: #FFF;
}

.search-container {
	float: left;
	margin-top: 7px;
	width: 320px;
}

.inner-search-container {
	border: 1px solid #FFF;
	border-radius: 7.5px;
	color: #FFF;
	padding: 5px 0px 5px 10px;

	input {
		width: 90%;
	}

	input, button {
		background-color: transparent;
		border: 0;
	}

	button {
		border-left: 1px solid #FFF;
		float: right;
	}

	input::placeholder {
		color: #FFF;
	}

}

