.po {
	padding: 16px;

	.popover-inner {
		background-color: #FFF;
		border: 1px solid #DDD;
	}

	ul {
		padding: 0;
		li {
			a {
				border-bottom: 1px solid #DDDDDD;
				color: #636b6f;
				display: block;
				padding: 16px;
			}

			a:hover {
				background-color: #F9F9F9;
			}
		}

		li:last-child {
			a {
				border: 0;
			}
		}
	}

	.popover-arrow {
		clip: rect(0 18px 14px -4px);
		position: absolute;
		top: 2px;
	}

	.popover-arrow::after {
		transform: rotate(45deg) translate(6px,6px);
		box-shadow: -1px -1px 1px -1px rgba(0,0,0,.44);
	}

	.popover-arrow:after {
		content: '';
		display: block;
		width: 14px;
		height: 14px;
		background: #DDD;
	}
}
