.intro{

    /*background-image: url("../images/background1.jpg");*/
    background-color: #6dbb82;
    background-size: cover;
    height: 450px;
    margin-top: -50px;
}

.introtext{
    text-align: center;
    margin: 200px;
    color: #FFF;
}


.project_upload{
    width: 200px;
    height: 150px;
}

.details{
    margin-top:10px;
}
