.profile-hero {
	background-color: #18B4DC;
	color: #FFF;
	text-align: center;

	.title {
		margin: 64px 0;
	}
}

.user-nav {
	background-color: #FFF;
	border-bottom: 1px solid #DDD;
	height: 55px;

	a {
		color: #4C4C4C;
	}

	a:hover, a:active, a:focus {
		text-decoration: none;
	}

	ul.half-width-items {

		li {
			position: relative;
			

			@media screen and (min-width: 768px) {
				margin-right: 20px;
			}

			@media screen and (max-width: 768px) {
			text-align: center;
			width: 49%;
		}
		}

		li a {
			display: block;
			padding: 16px 0;
			width: 100%;
		}

		.active a {
			color: #18B4DC;
		}

		.active::before {
			content: "";
			width: 100%;
			height: 3px;
			background-color: #18B4DC;
			display: inline-block;
			position: absolute;
			bottom: -1px;
			left: 0;
		}
	}
}

// Remove this!
.content {
	height: 250px;
}